body 
{
    background-color: burlywood;
}
  .dropbtn {
            background-color: yellowgreen;
            color: white;
            padding: 16px;
            font-size: 50px;
            border: none;
          }
          
          .dropdown {
            position: absolute;
            
          top: 220px;
            display: inline-block; 
          }
          
          .dropdown-content {
            position: absolute;
            display: none;
            
            
            
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .dropdown-content a:hover {background-color: #ddd;}
          
          .dropdown:hover .dropdown-content {display: block;}
          
          .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  
        h2
        {
          text-align: center;  
        }
  p {
    border: 1px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 1000px;
    margin-left: 0px;
    background-color: lightblue
  }
  
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  button {
    position: sticky;
    left: 1400px;
    top: 700px;
  }